<h1>About</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Aenean non viverra lacus, quis porttitor est. Aliquam suscipit 
tincidunt quam in elementum. Cras auctor lobortis urna ut 
luctus. Lorem ipsum dolor sit amet, consectetur adipiscing 
elit. In in tempor diam. Nullam id nunc a elit congue 
fringilla. Curabitur laoreet ante hendrerit mi bibendum 
aliquam. Sed purus quam, sagittis vel iaculis nec, iaculis 
sit amet elit. </p>

<p>  Nulla facilisi. Donec in magna ut metus gravida interdum 
et vel nulla. Sed quis neque pulvinar, venenatis nisi at, 
aliquet mi. Quisque sed erat eu lacus iaculis auctor. Nulla 
mattis elit non nunc elementum mattis eget id erat. Proin 
iaculis, tortor vel viverra pretium, enim lorem semper massa, 
sit amet facilisis est massa a sapien. Vestibulum auctor 
gravida magna. Suspendisse vitae augue nec ex pellentesque 
posuere sed sit amet mi. Mauris condimentum aliquam erat a 
posuere. Phasellus bibendum vitae tellus nec lobortis. Nulla 
eget porta quam. </p>

<p><%= link_to("Contact us", {:action => 'contact', :country => 'us'})%></p>
